.option-button{
    width: 40%;
    height: 80px; /* Muutettu prosentuaaliseksi */
    line-height: 100%; /* Varmista, että nappien teksti on keskitetty */
}

#button1{
    position: relative;
    right: 2rem;
    top: 9rem;
}

#button2{
    position: relative;
    left: 2rem;
    top: 9rem;
}

#button3{
    position: relative;
    right: 2rem;
    top: 14rem;
}

#button4{
    position: relative;
    left: 2rem;
    top: 14rem;
}

#question{
    position: relative;
    top: 4rem;
}

#next-button{
    position: relative;
    top: 20rem;
    left: 16rem;
    height: 4rem;
    width: 6rem;
}

#question-count{
    position: relative;
    bottom: 13rem;
    font-size: xx-large;
}


