
h1{
    text-align: center;
    font-size: 40px;
}

#play{
    display: block;
    margin: auto;
    position: absolute;
    top: 25rem;
    left: 22rem;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 35%;
    height: 15%;
}